---
import BaseLayout from "../layouts/BaseLayout.astro";
import Miembro from "../components/Miembro.astro";
---

<BaseLayout title="Equipo" sideBarActiveItemID="equipo">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Equipo de HappyAbue</div>
  </div>

  <div class="mb-10 text-justify">
    El equipo de HappyAbue se ha encargado de realizar tu experiencia mucho mas facil, conocenos.
  </div>

  <ul class="">
    <Miembro
      title='Silvia Prada'
      img="/equipo/silvia.jpg"
      instagram='_silv1uu'
      target="_self"
      badge=""
    />   
    <Miembro
      title='Zarhay Cepeda'
      img="/equipo/zarhay.jpg"
      instagram='zay___c'
      target="_self"
      badge=""
    />
    <Miembro
      title='Dilam Pena'
      img="/equipo/notfound.jpg"
      instagram='dilam.c2'
      target="_self"
      badge=""
    />

  </ul>
</BaseLayout>
