---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 mb-2 text-base rounded-lg" id="home" href="/">Principio</a></li>
    <li><a class="py-3 mb-2 text-base rounded-lg" id="tutorial" href="/tutorial">Tutorial</a></li>
    <li><a class="py-3 mb-2 text-base rounded-lg" id="charlas" href="/charlas/">Charlas</a></li>
    <li><a class="py-3 mb-2 text-base rounded-lg" id="equipo" href="/equipo">Equipo</a></li>
    <li><a class="py-3 mb-2 text-base rounded-lg" id="blog" href="/blog">Blog</a></li>
    <li><a class="py-3 text-base rounded-lg" id="socialmedia" href="/redes">Redes sociales</a></li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
